body {

  margin: 0;
}
#sidenav-overlay{
  z-index: 1;

}

/* .navbar {
    background: #E57373;
} */

.options, .additional {
  height: 100vh;
  background: #f1f8e9;
}

.options  {
  border: 1px solid green;
}

.options li {
    list-style: none;

}


.options li a {
    color: black;
}

.active-button {
    background: yellow;

}

.layout {
  background: #dcedc8;
  height: 100vh;
}

.navbar-fixed nav{
  background-color: #dcedc8;
}

#mobile-demo{
    background-color: #dcedc8;
}

.friends{
  width: 40px;
}

.titles{
  font-weight: bold;
}

.caja{
  border: 1px solid green;
}
#contacts-section,
#routines-section,
#events-section,
#groups-section,
#recipes-section {
    display: none;
}

textarea {
    border: none;
    border-radius: 5px;
    background-color: #ffff;
    color: #898888;
    max-height: 400px;
    font-size: 18px;
    width: 100%;
    resize: none;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: 17px;
}

#filter-input {
    margin-top: 14px;
}
