body {
  color: white;
  margin: 0;
}
#sidenav-overlay{
  z-index: 1;
}

#sidenav a {
  color: white;
}

/* .navbar {
    background: #E57373;
} */

.options, .additional {
  height: 100vh;
  background: #1b756d !important;
  
}

.options  {
  border: 1px solid white;
}

.options li {
  list-style: none;

}

.options li a {
    color: white;
    width: 100%;
}

/*.active-button {
    background: rgb(138, 226, 138);

}*/

.layout {
  background: rgb(67, 207, 193);
  height: 100vh;
  color: white;
}

.navbar-fixed nav{
  background-color: #26A69A;
}

#mobile-demo{
    background-color: rgb(67, 207, 193);
}

.friends{
  width: 40px;
}

.titles{
  font-weight: bold;
}



.caja a {
  color: white;
}


#contacts-section,
#routines-section,
#events-section,
#groups-section,
#recipes-section {
    display: none;
}

textarea {
    border: none;
    border-radius: 5px;
    background-color: #ffff;
    color: #898888;
    max-height: 400px;
    font-size: 18px;
    width: 100%;
    resize: none;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: 17px;
}

#filter-input {
    margin-top: 14px;
}


.col {
  min-height: 100vh;
  height: 100%;
}

.border-div {
border: 1px solid white;
border-radius: 5px;
margin: 5px;
padding: 10px;

}